#
# Rissu's Custom Configurations
# For Galaxy A05 and A04
#
CONFIG_LOCALVERSION="-Superfire+"
CONFIG_LOCALVERSION_AUTO=n

# KernelSU Next
CONFIG_KSU=y

# Performance
CONFIG_CPU_FREQ_DEFAULT_GOV_SCHEDUTIL=y
CONFIG_CPU_FREQ_GOV_PERFORMANCE=y
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=y
CONFIG_HZ_300=y
CONFIG_SCHED_WALT=y

# Debug/log
CONFIG_PRINTK=y
CONFIG_PRINTK_TIME=y

# TCP
CONFIG_TCP_CONG_BBR=y
CONFIG_DEFAULT_BBR=y

# Zram
CONFIG_ZRAM=y
CONFIG_ZSMALLOC=y
CONFIG_CRYPTO_LZ4=y

# Security
CONFIG_SECURITY_SELINUX=y
